<app-header titulo="Cards"></app-header>

<ion-content class="ion-padding">

  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon color="light" slot="start" name="card"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex consectetur, sit esse officia soluta quod adipisci reiciendis quasi rem ea, enim natus ipsum ducimus officiis, dolorem tempora magnam magni impedit?
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita a modi necessitatibus quidem amet obcaecati deserunt laborum officia, quia, reprehenderit dolorum dolore veritatis excepturi beatae accusantium dolores? Aut, qui laboriosam.
    </ion-card-content>
  </ion-card>

</ion-content>
