<app-header titulo="Inputs Forms"></app-header>

<ion-content>

  <ion-list>

    <ion-list-header>
      <ion-label>Nombre: {{ nombre || 'No hay nombre'}}</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text"
                  [(ngModel)]="nombre">
      </ion-input>
    </ion-item>
    
  </ion-list>

  <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">
    <ion-list>
      <ion-list-header>
        <ion-label>Formulario template: Válido {{ formulario.valid }}</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label position="floating">Emial</ion-label>
        <ion-input type="email"
                    name="email"
                    required
                    pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                    [(ngModel)]="usuario.email">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"
                    name="password"
                    required
                    [(ngModel)]="usuario.password">
        </ion-input>
      </ion-item>

    </ion-list>

    <ion-button type="submit" expand="full" color="primary">
      Guardar
    </ion-button>


  </form>

</ion-content>
